.row-fluid
	.span8.offset1.img-rounded(style="width:500px; height:500px; background-image: url('https://lh4.googleusercontent.com/-rWAJE40OO5M/TiFuulO4bBI/AAAAAAAAA-4/yevwjS4LQKA/s1152/SAM_0168.JPG')")

	.span1.offset1.img-rounded(style="height:500px; background-color: #FEFEFE;")