.row-fluid
	.span7
		.hero-unit
			%h1.hidden-phone Put a dino on it!
			%h2.visible-phone Put a dino on it!
			%ul
				%li Dinsaurs are awesome
				%li They make everything cooler
				%li We all love dinsaurs

	.span5
		%img(src="/img/godzilla.png")
.row-fluid
	.span6
		%img(src="/img/screenshot_1.png")
	.span6
		%img(src="/img/screenshot_2.png")