.row-fluid
	.span12
		.hero-unit
			.row-fluid
				.span9
					%h1.hidden-phone Dinogram <small>Put a dino on it!</small>
					%h2.visible-phone Dinogram <small>Put a dino on it!</small>
				.span3
					%p
						
			.row-fluid
				.span9
					%p
						We have been <strong>putting dinosaurs on all of our things</strong> - our lunchboxes, our backpacks, our t-shirts - since we were little kids. 
					%p
						Well <strong>NOW</strong> you can <strong>put a dinosaur on anything you want</strong>. Find your scene, take a picture, place your dino, and share it to your friends.

					.row-fluid
						.span6
							%p.text-center{:style => "padding-top: 20px;"}
								%a.btn.btn-large.btn-primary{:href => "/wowzers", :style => "padding: 15px 20px; font-size: 22px;"} View featured dinograms now!

						.span6
							%p.text-center{:style => "padding-top: 20px;"}
								%a{:href => "https://itunes.apple.com/us/app/dinogram/id604157495?ls=1&mt=8", :target => "_blank"}
									%img{:src => "/img/Available_on_the_App_Store_Badge_US-UK_135x40_0824.png"}
				.span3
					%img.img-rounded{:src => "https://s3.amazonaws.com/dinogram-dev/D4EE4424-9B4F-465B-A1C7-C76184F308CE"}

		%h1.visible-phone{:style => "text-align: center;"} Put a dino on it
		

.row-fluid
	.span5
		%img(src="/img/screenshot_1.png")
	.span7
		.hero-unit
			%h1.hidden-phone Editosaur
			%h2.visible-phone Editosaur
			%ul
				%li <strong>Drag</strong> to move
				%li <strong>Pinch</strong> to scale
				%li <strong>Twist</strong> to rotate
				%li <strong>Double tap</strong> to flip

.row-fluid.visible-phone
	.span4
		%img(src="/img/screenshot_2.png")
.row-fluid
	.span7
		.hero-unit
			%h1.hidden-phone Shareosaur
			%h2.visible-phone Shareosaur
			%ul
				%li <strong>Facebook</strong> - share with your friends
				%li <strong>Twitter</strong> - show your follower
				%li <strong>Instagram</strong> - are dinos not enough? Add a filter

	.span5.hidden-phone
		%img(src="/img/screenshot_2.png")