.row-fluid
	.span7
		.hero-unit
			%h1.hidden-phone Put a dino on it!
			%h2.visible-phone Put a dino on it!
			%p Dinsaurs are awesome
			%p They make everything cooler
			%p We all love dinsaurs

	.span5
		%img(src="/img/godzilla.png")