%ul.thumbnails
	- @photos.each do |photo|
		%li.span3
			.thumbnail
				%a{:href => "/g/#{photo.url_code}"}
					%img.img-rounded{:src => "#{photo.url}"}

		- if false
			.row-fluid
				.span2
				.span8
					%a{:href => "/g/#{photo.url_code}"}
						%img.img-rounded{:style => "width:200px; margin: 20px;", :src => "#{photo.url}"}